# Project Specific
# ----------------

# IntelliJ IDEA
# -------------
.idea
*.iws
*.iml
*.ipr

# NetBeans
# --------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
# -------
.vscode/

## Local History for Visual Studio Code
.history/

## VisualStudioCode Patch

### Ignore all local history of files
.history
.ionide
